/*stylesheet*/

/* vars */
:root {
  --background-color: #000000;
  --black-color: #000;
  --body-color: #fff;
}

body {
  margin: 0;  
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color:  var(--body-color);
  background-color: var(--background-color);
}




#wrapper {
  margin: 0 auto;
  max-width: 80%;
}

.project {
	display: flex;
	align-items: center;
	height: 100vh;
}

.project-inner {
	position: relative;
}
.start{
	position: absolute;
	width: 20%
	height: 18%;
	bottom: 2%;
	left: 3%
}

